<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지(로그인)</title>
    <link rel="stylesheet" href="/css/mainPageLogin.css">
</head>
<body>
<header>
    <div class="main-header-container">
        <div class="main-header-logo">
            <a href="mainPage.html" class="main-header-logo-tag">
                <img src="/img/logo.png" class="main-header-logo-img"
                alt="main-header-logo-img">
            </a>
        </div>
        <nav class="main-header-category">
            <ul class="main-header-category-ul">   
                <li class="main-header-category-list">
                    <a href="" class="main-header-category-donatetag">
                    후원
                    </a>
                </li>
                <li class="main-header-category-list">
                    <a href="" class="main-header-category-voltag">
                    봉사
                    </a>
                </li>
                <li class="main-header-category-list">
                    <a href="/include/mapApi.html" class="main-header-category-emtag">
                    대피소 안내
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-header-service">
            <div class="main-header-service-mypage">
                <a class="main-header-service-mypage-tag"
                href="/myPage/myPageDonate.html">
                   <img src="/img/mypage.png" alt="mypage-img"
                   class="mypage-img">
                </a>
            </div>
            <div class="main-header-service-logout">
                <a class="main-header-service-logout-tag"
                href="mainPage.html">
                    로그아웃
                </a>
            </div>
        </div>
    </div>
</header>

<main>
    <section class="main-section1">
        <div class="main-banner-group">
            <div class="main-banner-list">
                <a href="" class="main-banner-tag">
                    <img src="/img/banner1.png"
                    class="main-banner-img"
                    alt="main-banner-img1">
                </a>
            </div>
            <div class="main-banner-list">
                <a href="" class="main-banner-tag">
                    <img src="/img/banner2.png"
                    class="main-banner-img"
                    alt="main-banner-img1">
                </a>
            </div>
            <div class="main-banner-list">
                <a href="" class="main-banner-tag">
                    <img src="/img/banner3.png"
                    class="main-banner-img"
                    alt="main-banner-img1">
                </a>
            </div>
            <button type="button" class="arrow-prev">&lt;</button>
            <button type="button" class="arrow-next">&gt;</button>
        </div>
        <div class="main-total">
            <div class="main-donate-group">
                <div class="main-donate-text">누적 후원금</div>
                <div class="main-donate-text2">|</div>
                <div class="main-donate-money">100,000,000원</div>
            </div>
        </div>
    </section>

    <section class="main-section2">
        <div class="main-poster">
            <img src="/img/poster.png"
            class="main-poster-img" alt="main-poster-img">
        </div>
        <button class="main-poster-btn" type="button">
            후원 참여하기
        </button>
    </section>

    <hr class="main-section2-hr">

    <section class="main-section3">
        <div class="main-donate-title">후원</div>
        <div class="main-donate-subtitle">다솜 나눔</div>
        <form class="main-donate-group" action="">
            <a class="main-donate-tag" href="">
                <div class="main-donate-list">
                    <img src="/img/banner1.png"
                    class="main-donate-img" alt="main-donate-img">
                    <div class="main-donate-tagtext">
                        후원하기
                    </div>
                    <div class="main-donate-content">
                        강원도 홍수 수해 후원하기
                    </div>
                </div>
            </a>
            <a class="main-donate-tag" href="">
                <div class="main-donate-list">
                    <img src="/img/banner2.png"
                    class="main-donate-img" alt="main-donate-img">
                    <div class="main-donate-tagtext">
                        후원하기
                    </div>
                    <div class="main-donate-content">
                        강원도 홍수 수해 후원하기
                    </div>
                </div>
            </a>
            <a class="main-donate-tag" href="">
                <div class="main-donate-list">
                    <img src="/img/banner3.png"
                    class="main-donate-img" alt="main-donate-img">
                    <div class="main-donate-tagtext">
                        후원하기
                    </div>
                    <div class="main-donate-content">
                        강원도 홍수 수해 후원하기
                    </div>
                </div>
            </a>
            <a class="main-donate-tag" href="">
                <div class="main-donate-list">
                    <img src="/img/banner1.png"
                    class="main-donate-img" alt="main-donate-img">
                    <div class="main-donate-tagtext">
                        후원하기
                    </div>
                    <div class="main-donate-content">
                        강원도 홍수 수해 후원하기
                    </div>
                </div>
            </a>
        </form>
    </section>

    <hr class="main-section3-hr">

    <section class="main-section4">
        <div class="main-va-title">봉사</div>
        <div class="main-va-subtitle">아띠 활동</div>
        <form action="" class="main-va-group">
            <a href="" class="main-va-tag">
                <div class="main-va-list">
                    <div class="main-va-text">봉사지원</div>
                    <div class="main-va-content">[모집] 기아대책 번역봉사단 기대라이터 11기</div>
                    <div class="main-va-at">
                        <div class="main-va-attext">모집인원</div>
                        <div class="main-va-atcnt">300명</div>
                    </div>
                    <div class="main-va-date">
                        <div class="main-va-datetext">활동기간</div>
                        <div class="main-va-datedetail">2023.10.11 ~ 2024.01.31</div>
                    </div>
                </div>
                <div class="main-va-status">모집진행</div>
            </a>
            <a href="" class="main-va-tag">
                <div class="main-va-list">
                    <div class="main-va-text">봉사지원</div>
                    <div class="main-va-content">[모집] 기아대책 번역봉사단 기대라이터 11기</div>
                    <div class="main-va-at">
                        <div class="main-va-attext">모집인원</div>
                        <div class="main-va-atcnt">300명</div>
                    </div>
                    <div class="main-va-date">
                        <div class="main-va-datetext">활동기간</div>
                        <div class="main-va-datedetail">2023.10.11 ~ 2024.01.31</div>
                    </div>
                </div>
                <div class="main-va-status">모집진행</div>
            </a>
            <a href="" class="main-va-tag">
                <div class="main-va-list">
                    <div class="main-va-text">봉사지원</div>
                    <div class="main-va-content">[모집] 기아대책 번역봉사단 기대라이터 11기</div>
                    <div class="main-va-at">
                        <div class="main-va-attext">모집인원</div>
                        <div class="main-va-atcnt">300명</div>
                    </div>
                    <div class="main-va-date">
                        <div class="main-va-datetext">활동기간</div>
                        <div class="main-va-datedetail">2023.10.11 ~ 2024.01.31</div>
                    </div>
                </div>
                <div class="main-va-status">모집진행</div>
            </a>
            <a href="" class="main-va-tag">
                <div class="main-va-list">
                    <div class="main-va-text">봉사지원</div>
                    <div class="main-va-content">[모집] 기아대책 번역봉사단 기대라이터 11기</div>
                    <div class="main-va-at">
                        <div class="main-va-attext">모집인원</div>
                        <div class="main-va-atcnt">300명</div>
                    </div>
                    <div class="main-va-date">
                        <div class="main-va-datetext">활동기간</div>
                        <div class="main-va-datedetail">2023.10.11 ~ 2024.01.31</div>
                    </div>
                </div>
                <div class="main-va-status">모집진행</div>
            </a>

        </form>
    </section>
</main>

<footer>
    <div class="inner">
        <p class="info">
            서울특별시 강서구 공항대로 59다길 109 (사)한국국제기아대책기구
            <br>
            (사)한국국제기아대책기구 &nbsp;&nbsp;&nbsp;&nbsp;사업자번호 211-82-08632&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;대표자 지형은
            <br>
            사회복지법인 기아대책&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;고유번호 211-82-12529&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;대표자 서경석
            <br>
            재단법인 행복한나눔&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;사업자번호 211-82-16108&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;대표자 유원식 
        </p>
        <p class="intro">
            한국국제기아대책기구는 2017년, 유엔 경제사회이사회(UN ECOSOC)의 특별협의지위(Special Consultative Status)를 획득한 단체입니다.
        </p>
        <p class="copyright">COPYRIGHT ©KFHI All rights reserved.</p>

    </div>
</footer>

<script defer src="/js/mainPageLogin.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</body>
</html>