<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dasom.mapper.DonateMapper">

<!--    기부 리스트 전체 게시글 수 구하기-->
    <select id="selectTotal" resultType="_int">
        SELECT COUNT(DONATE_NUMBER)
        FROM TBL_DONATEWRITE
    </select>

<!--    기부 리스트 게시글 전체 조회-->
<!--    <select id="selectList" resultType="donateWriteVo">-->
<!--        SELECT W.DONATEWRITE_NUMBER, ADMIN_NUMBER, DONATEWRITE_TITLE,-->
<!--               DONATEWRITE_STATUS, DONATEWRITE_DATE, DONATEFILE_NUMBER,DONATEFILE_NAME, DONATEFILE_UPLOAD_PATH, DONATEFILE_UUID-->
<!--        FROM TBL_DONATEWRITE  W JOIN TBL_DONATEFILE F-->
<!--        ON W.DONATEWRITE_NUMBER = F.DONATEWRITE_NUMBER-->
<!--        WHERE DONATEWRITE_STATUS = ${status}-->
<!--        </select>-->

    <select id="selectList" resultType="donateWriteVo">
        SELECT DONATEWRITE_TITLE
        FROM TBL_DONATEWRITE
        WHERE DONATEWRITE_STATUS = ${status}
    </select>




</mapper>